<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policymap [
<!ELEMENT policymap (policy)+>
<!ELEMENT policy (#PCDATA)>
<!ATTLIST policy domain (delegate|coder|filter|path|resource) #IMPLIED>
<!ATTLIST policy name CDATA #IMPLIED>
<!ATTLIST policy rights CDATA #IMPLIED>
<!ATTLIST policy pattern CDATA #IMPLIED>
<!ATTLIST policy value CDATA #IMPLIED>
]>
<!--

  Configure ImageMagick policies.

  Domains include system, delegate, coder, filter, path, or resource.

  Rights include none, read, write, execute and all.  Use | to combine them,
  for example: "read | write" to permit read from, or write to, a path.

  Use a glob expression as a pattern.

  Suppose we do not want users to process MPEG video images:

    <policy domain="delegate" rights="none" pattern="mpeg:decode" />

  Here we do not want users reading images from HTTP:

    <policy domain="coder" rights="none" pattern="HTTP" />

  Lets prevent users from executing any image filters:

    <policy domain="filter" rights="none" pattern="*" />

  The /repository file system is restricted to read only.  We use a glob
  expression to match all paths that start with /repository:

    <policy domain="path" rights="read" pattern="/repository/*" />

  Lets prevent users from executing any image filters:

    <policy domain="filter" rights="none" pattern="*" />

  Any large image is cached to disk rather than memory:

    <policy domain="resource" name="area" value="1GP"/>

  Define arguments for the memory, map, area, width, height and disk resources
  with SI prefixes (.e.g 100MB).  In addition, resource policies are maximums
  for each instance of ImageMagick (e.g. policy memory limit 1GB, -limit 2GB
  exceeds policy maximum so memory limit is 1GB).

  Rules are processed in order.  Here we want to restrict ImageMagick to only
  read or write a small subset of proven web-safe image types:

    <policy domain="delegate" rights="none" pattern="*" />
    <policy domain="coder" rights="none" pattern="*" />
    <policy domain="coder" rights="read|write" pattern="{GIF,JPEG,PNG,WEBP}" />
-->
<policymap>
  <!-- For informations about the variables see: https://www.imagemagick.org/script/resources.php -->
  <!-- Security related informations: https://www.imagemagick.org/discourse-server/viewtopic.php?t=26801 -->
  <policy domain="resource" name="temporary-path" value="/tmp"/>
  <policy domain="resource" name="memory" value="{{ IMAGEMAGICK_MEMORY }}"/>
  <policy domain="resource" name="map" value="{{ IMAGEMAGICK_MAP }}"/>
  <policy domain="resource" name="width" value="{{ IMAGEMAGICK_WIDTH }}"/>
  <policy domain="resource" name="height" value="{{ IMAGEMAGICK_HEIGHT }}"/>
  <policy domain="resource" name="area" value="{{ IMAGEMAGICK_AREA }}"/>
  <policy domain="resource" name="disk" value="{{ IMAGEMAGICK_DISK }}"/>
  <policy domain="resource" name="file" value="{{ IMAGEMAGICK_FILE }}"/>
  <policy domain="resource" name="thread" value="{{ IMAGEMAGICK_THREAD }}"/>
  <policy domain="resource" name="throttle" value="{{ IMAGEMAGICK_THROTTLE }}"/>
  <policy domain="resource" name="time" value="{{ IMAGEMAGICK_TIME }}"/>
  <policy domain="system" name="precision" value="{{ IMAGEMAGICK_PRECISION }}"/>
  <policy domain="system" name="memory-map" value="anonymous"/>
  <policy domain="cache" name="memory-map" value="anonymous"/>
  <policy domain="system" name="shred" value="1"/>
  <policy domain="cache" name="shared-secret" value="{{ env.IMAGEMAGICK_SHARED_SECRET }}" stealth="true"/>

  <!-- Disable all coders (requires ImageMagick version >= 7.0.4-7) -->
  <policy domain="coder" rights="none" pattern="*" />
  <!-- <policy domain="delegate" rights="none" pattern="*" /> -->

  <!-- Enable specified coders -->
  <policy domain="coder" rights="read | write" pattern="{{ '{' + IMAGEMAGICK_ENABLED_CODERS + '}' }}" />
</policymap>
