; autogen true
; By default this file gets generated automatically whenever the gogs container
; is recreated. Therefore any changes done to this file will be OVERWRITTEN! To
; avoid the regeneration simply change 'autogen true' to 'autogen false'

; Consult the cheat sheet for more information: https://gogs.io/docs/advanced/configuration_cheat_sheet

; App name that shows on every page title
APP_NAME = {{ GOGS_APP_NAME }}
; The name of the system user that runs Gogs
RUN_USER = git
; Either "dev", "prod" or "test", default is "dev"
RUN_MODE = {{ GOGS_RUN_MODE }}

[server]
PROTOCOL = http
; Domain name to be used
DOMAIN = {{ DOMAINNAMES[0] }}
ROOT_URL = https://%(DOMAIN)s/
HTTP_ADDR = 127.0.0.1
; Port of gogs server so that Nginx can be used as a proxy.
HTTP_PORT = 3000
; Permission for unix socket
UNIX_SOCKET_PERMISSION = 666
; Local (DMZ) URL for Gogs workers (such as SSH update) accessing web service.
; In most cases you do not need to change the default value.
; Alter it only if your SSH server node is not the same as HTTP node.
LOCAL_ROOT_URL = %(PROTOCOL)s://%(HTTP_ADDR)s:%(HTTP_PORT)s/
; Disable SSH feature when not available
DISABLE_SSH = false
; Whether use builtin SSH server or not.
START_SSH_SERVER = false
; Domain name to be exposed in SSH clone URL
SSH_DOMAIN = %(DOMAIN)s
; Port number to be exposed in SSH clone URL
SSH_PORT = {{ GOGS_SERVER_SSH_PORT }}
; Network interface builtin SSH server listens on
SSH_LISTEN_HOST = 0.0.0.0

; Port number builtin SSH server listens on
SSH_LISTEN_PORT = %(SSH_PORT)s
; Root path of SSH directory, default is '~/.ssh', but you have to use '/home/git/.ssh'.
SSH_ROOT_PATH =
; Choose the ciphers to support for SSH connections
SSH_SERVER_CIPHERS = aes256-ctr, aes192-ctr, aes128-ctr, arcfour256, arcfour128
; Directory to create temporary files when test publick key using ssh-keygen,
; default is system temporary directory.
SSH_KEY_TEST_PATH =
; Path to ssh-keygen, default is 'ssh-keygen' and let shell find out which one to call.
SSH_KEYGEN_PATH = ssh-keygen
; Indicate whether to check minimum key size with corresponding type
MINIMUM_KEY_SIZE_CHECK = {{ GOGS_SERVER_MINIMUM_KEY_SIZE_CHECK }}
; Disable CDN even in "prod" mode
OFFLINE_MODE = {{ GOGS_SERVER_OFFLINE_MODE }}
DISABLE_ROUTER_LOG = {{ GOGS_SERVER_DISABLE_ROUTER_LOG }}
; Generate steps:
; $ ./gogs cert -ca=true -duration=8760h0m0s -host=myhost.example.com
;
; Or from a .pfx file exported from the Windows certificate store (do
; not forget to export the private key):
; $ openssl pkcs12 -in cert.pfx -out cert.pem -nokeys
; $ openssl pkcs12 -in cert.pfx -out key.pem -nocerts -nodes
;CERT_FILE = custom/https/cert.pem
;KEY_FILE = custom/https/key.pem
; Allowed TLS version values: SSL30, TLS10, TLS11, TLS12
;TLS_MIN_VERSION = TLS10

; Upper level of template and static file path
; default is the path where Gogs is executed
STATIC_ROOT_PATH =
; Default path for App data
APP_DATA_PATH = /var/lib/gogs/data
; Application level GZIP support
ENABLE_GZIP = {{ GOGS_SERVER_ENABLE_GZIP }}
; Landing page for non-logged users, can be "home" or "explore"
LANDING_PAGE = {{ GOGS_SERVER_LANDING_PAGE }}

[repository]
; Root path for storing repositories's data, default is "~/<username>/gogs-repositories"
ROOT = /var/lib/gogs/repositories
; The script type server supports, sometimes could be "sh"
SCRIPT_TYPE = bash
; Default ANSI charset for an unrecognized charset
ANSI_CHARSET = {{ GOGS_REPOSITORY_ANSI_CHARSET }}
; Force every new repository to be private
FORCE_PRIVATE = {{ GOGS_REPOSITORY_FORCE_PRIVATE }}
; Global maximum creation limit of repository per user, -1 means no limit
MAX_CREATION_LIMIT = {{ GOGS_REPOSITORY_MAX_CREATION_LIMIT }}
; Mirror sync queue length, increase if mirror syncing starts hanging
MIRROR_QUEUE_LENGTH = {{ GOGS_REPOSITORY_MIRROR_QUEUE_LENGTH }}
; Patch test queue length, increase if pull request patch testing starts hanging
PULL_REQUEST_QUEUE_LENGTH = {{ GOGS_REPOSITORY_PULL_REQUEST_QUEUE_LENGTH }}
; Preferred Licenses to place at the top of the List
; Name must match file name in conf/license or custom/conf/license
PREFERRED_LICENSES = {{ GOGS_REPOSITORY_PREFERRED_LICENSES }}
; Disable ability to interact with repositories by HTTP protocol
DISABLE_HTTP_GIT = {{ GOGS_REPOSITORY_DISABLE_HTTP_GIT }}
; Enable ability to migrate repository by local path
ENABLE_LOCAL_PATH_MIGRATION = {{ GOGS_REPOSITORY_ENABLE_LOCAL_PATH_MIGRATION }}
; Concurrency is used to retrieve commits information. This variable define
; the maximum number of tasks that can be run at the same time. Usually, the
; value depend of how many CPUs (cores) you have. If the value is set to zero
; or under, GOGS will automatically detect the number of CPUs your system have
COMMITS_FETCH_CONCURRENCY = {{ GOGS_REPOSITORY_COMMITS_FETCH_CONCURRENCY }}
; Enable render mode for raw file
ENABLE_RAW_FILE_RENDER_MODE = {{ GOGS_REPOSITORY_ENABLE_RAW_FILE_RENDER_MODE }}

[repository.editor]
; List of file extensions that should have line wraps in the CodeMirror editor.
; Separate extensions with a comma. To line wrap files without extension, just put a comma
LINE_WRAP_EXTENSIONS = {{ GOGS_REPOSITORY_EDITOR_LINE_WRAP_EXTENSIONS }}
; Valid file modes that have a preview API associated with them, such as api/v1/markdown
; Separate values by commas. Preview tab in edit mode won't show if the file extension doesn't match
PREVIEWABLE_FILE_MODES = {{ GOGS_REPOSITORY_EDITOR_PREVIEWABLE_FILE_MODES }}

[repository.upload]
; Enable repository file uploads.
ENABLED = {{ GOGS_REPOSITORY_UPLOAD_ENABLE_UPLOAD }}
; Path to temporarily store uploads (default path gets cleaned by Gogs in every start)
TEMP_PATH = data/tmp/uploads
; File types that are allowed to be uploaded, e.g. image/jpeg|image/png. Leave empty means allow any file type
ALLOWED_TYPES = {{ GOGS_REPOSITORY_UPLOAD_ALLOWED_TYPES }}
; Maximum size of each file in MB
FILE_MAX_SIZE = {{ GOGS_REPOSITORY_UPLOAD_FILE_MAX_SIZE }}
; Maximum number of files per upload
MAX_FILES = {{ GOGS_REPOSITORY_UPLOAD_MAX_FILES }}

[markdown]
; Enable hard line break extension
ENABLE_HARD_LINE_BREAK = {{ GOGS_MARKDOWN_ENABLE_HARD_LINE_BREAK }}
; List of custom URL-Schemes that are allowed as links when rendering Markdown
; for example git,magnet
CUSTOM_URL_SCHEMES = {{ GOGS_MARKDOWN_CUSTOM_URL_SCHEMES }}
; List of file extensions that should be rendered/edited as Markdown
; Separate extensions with a comma. To render files w/o extension as markdown, just put a comma
FILE_EXTENSIONS = .md,.markdown,.mdown,.mkd

[http]
; Value for Access-Control-Allow-Origin header, default is not to present
ACCESS_CONTROL_ALLOW_ORIGIN = {{ GOGS_ACCESS_CONTROL_ALLOW_ORIGIN }}

; Define allowed algorithms and their minimum key length (use -1 to disable a type)
[ssh.minimum_key_sizes]
ED25519 = 256
RSA     = 2048
; disable shitty NSA key types
DSA     = -1
ECDSA   = -1

[database]
; Either "mysql", "postgres" or "sqlite3", you can connect to TiDB with MySQL protocol
{%- if GOGS_DATABASE_TYPE == 'sqlite3' %}
DB_TYPE  = {{ GOGS_DATABASE_TYPE }}
PATH     = /var/lib/gogs/data/gogs.db
{% elif GOGS_DATABASE_TYPE == 'mysql' or GOGS_DATABASE_TYPE == 'postgres' %}
DB_TYPE = {{ GOGS_DATABASE_TYPE }}
HOST = {{ GOGS_DATABASE_HOST }}:{{ GOGS_DATABASE_PORT }}
NAME = {{ GOGS_DATABASE_NAME }}
USER = {{ GOGS_DATABASE_USER }}
PASSWD = {{ GOGS_DATABASE_PASSWORD }}
{%- if GOGS_DATABASE_TYPE == 'postgres' %}
; For "postgres" only, either "disable", "require" or "verify-full"
SSL_MODE = {{ GOGS_DATABASE_PGSQL_SSL_MODE }}
{%- endif %}
{%- endif %}

[admin]
; Disable regular (non-admin) users to create organizations
DISABLE_REGULAR_ORG_CREATION = {{ GOGS_ADMIN_DISABLE_REGULAR_ORG_CREATION }}

[security]
INSTALL_LOCK = true
SECRET_KEY = {{ GOGS_SECURITY_SECRET_KEY }}
; Auto-login remember days
LOGIN_REMEMBER_DAYS = {{ GOGS_SECURITY_LOGIN_REMEMBER_DAYS }}
COOKIE_USERNAME = gogs_username
COOKIE_REMEMBER_NAME = gogs_auto_login
COOKIE_SECURE = false
; Reverse proxy authentication header name of user name
REVERSE_PROXY_AUTHENTICATION_USER = {{ GOGS_SECURITY_REVERSE_PROXY_AUTHENTICATION_USER }}
; Enable to set cookie to indicate user login status
ENABLE_LOGIN_STATUS_COOKIE = {{ GOGS_SECURITY_ENABLE_LOGIN_STATUS_COOKIE }}
LOGIN_STATUS_COOKIE_NAME = login_status


[service]
ACTIVE_CODE_LIVE_MINUTES = {{ GOGS_SERVICE_ACTIVE_CODE_LIVE_MINUTES }}
RESET_PASSWD_CODE_LIVE_MINUTES = {{ GOGS_SERVICE_RESET_PASSWD_CODE_LIVE_MINUTES }}
; User need to confirm e-mail for registration
REGISTER_EMAIL_CONFIRM = {{ GOGS_SERVICE_REGISTER_EMAIL_CONFIRM }}
; Does not allow register and admin create account only
DISABLE_REGISTRATION = {{ GOGS_SERVICE_DISABLE_REGISTRATION }}
; User must sign in to view anything.
REQUIRE_SIGNIN_VIEW = {{ GOGS_SERVICE_REQUIRE_SIGNIN_VIEW }}
; Mail notification
ENABLE_NOTIFY_MAIL = {{ GOGS_SERVICE_ENABLE_NOTIFY_MAIL }}
; More detail: https://github.com/gogits/gogs/issues/165
ENABLE_REVERSE_PROXY_AUTHENTICATION = {{ GOGS_SERVICE_ENABLE_REVERSE_PROXY_AUTHENTICATION }}
ENABLE_REVERSE_PROXY_AUTO_REGISTRATION = {{ GOGS_SERVICE_ENABLE_REVERSE_PROXY_AUTO_REGISTRATION }}
; Enable captcha validation for registration
ENABLE_CAPTCHA = {{ GOGS_SERVICE_ENABLE_CAPTCHA }}

[webhook]
; Types are enabled for users to use, can be "gogs", "slack", "discord"
TYPES = {{ GOGS_WEBHOOK_TYPES }}
; Hook task queue length, increase if webhook shooting starts hanging
QUEUE_LENGTH = {{ GOGS_WEBHOOK_QUEUE_LENGTH }}
; Deliver timeout in seconds
DELIVER_TIMEOUT = {{ GOGS_WEBHOOK_DELIVER_TIMEOUT }}
; Allow insecure certification
SKIP_TLS_VERIFY = {{ GOGS_WEBHOOK_SKIP_TLS_VERIFY }}
; Number of history information in each page
PAGING_NUM = {{ GOGS_WEBHOOK_PAGING_NUM }}

[mailer]
ENABLED = {{ GOGS_MAILER_ENABLE }}
; Buffer length of channel, keep it as it is if you don't know what it is.
SEND_BUFFER_LEN = {{ GOGS_MAILER_SEND_BUFFER_LEN }}
; Name displayed in mail title
SUBJECT = {{ GOGS_MAILER_SUBJECT }}
; Mail server
; Gmail: smtp.gmail.com:587
; QQ: smtp.qq.com:465
; Note, if the port ends with "465", SMTPS will be used. Using STARTTLS on port 587 is recommended per RFC 6409. If the server supports STARTTLS it will always be used.
HOST = {% if GOGS_MAILER_ENABLE %}{{ GOGS_MAILER_HOST | required('You need to specify a smtp host') }}{% endif %}
; Disable HELO operation when hostname are different.
DISABLE_HELO = {{ GOGS_MAILER_DISABLE_HELO }}
; Custom hostname for HELO operation, default is from system.
HELO_HOSTNAME = {{ GOGS_MAILER_HELO_HOSTNAME }}
; Do not verify the certificate of the server. Only use this for self-signed certificates
SKIP_VERIFY = {{ GOGS_MAILER_SKIP_VERIFY }}
; Use client certificate
USE_CERTIFICATE = false
CERT_FILE = custom/mailer/cert.pem
KEY_FILE = custom/mailer/key.pem
; Mail from address, RFC 5322. This can be just an email address, or the `"Name" <email@example.com>` format
FROM = {{ GOGS_MAILER_FROM }}
; Mailer user name and password
USER = {% if GOGS_MAILER_ENABLE %}{{ GOGS_MAILER_USER | required('You need to specify a user for smtp') }}{% endif %}
PASSWD = {% if GOGS_MAILER_ENABLE %}{{ GOGS_MAILER_PASSWORD | required('You need to specify a password for smtp') }}{% endif %}
; Use text/plain as format of content
USE_PLAIN_TEXT = {{ GOGS_MAILER_USE_PLAIN_TEXT }}

[cache]
; Either "memory", "redis", or "memcache", default is "memory"
ADAPTER = {{ GOGS_CACHE_ADAPTER }}
{%- if GOGS_CACHE_ADAPTER == 'memory' %}
; For "memory" only, GC interval in seconds, default is 60
INTERVAL = {{ GOGS_CACHE_INTERVAL }}
{%- else %}
; For "redis" and "memcache", connection host address
; redis: network=tcp,addr=:6379,password=macaron,db=0,pool_size=100,idle_timeout=180
; memcache: `127.0.0.1:11211`
HOST = {{ GOGS_CACHE_HOST }}
{%- endif %}

[session]
; Either "memory", "file", or "redis", default is "memory"
PROVIDER = {{ GOGS_SESSION_PROVIDER }}
; Provider config options
; memory: not have any config yet
; file: session file path, e.g. `data/sessions`
; redis: network=tcp,addr=:6379,password=macaron,db=0,pool_size=100,idle_timeout=180
; mysql: go-sql-driver/mysql dsn config string, e.g. `root:password@/session_table`
{%- if GOGS_SESSION_PROVIDER != 'memory' %}
PROVIDER_CONFIG = {{ GOGS_SESSION_PROVIDER_CONFIG }}
{%- endif %}
; Session cookie name
COOKIE_NAME = {{ GOGS_SESSION_COOKIE_NAME }}
; If you use session in https only, default is false
COOKIE_SECURE = {{ GOGS_SESSION_COOKIE_SECURE }}
; Enable set cookie, default is true
ENABLE_SET_COOKIE = {{ GOGS_SESSION_ENABLE_SET_COOKIE }}
; Session GC time interval, default is 3600
GC_INTERVAL_TIME = {{ GOGS_SESSION_GC_INTERVAL_TIME }}
; Session life time, default is 86400
SESSION_LIFE_TIME = {{ GOGS_SESSION_SESSION_LIFE_TIME }}
; Cookie name for CSRF
CSRF_COOKIE_NAME = {{ GOGS_SESSION_CSRF_COOKIE_NAME }}

[picture]
; Path to store user uploaded avatars
AVATAR_UPLOAD_PATH = /var/lib/gogs/data/avatars
; Chinese users can choose "duoshuo"
; or a custom avatar source, like: http://cn.gravatar.com/avatar/
GRAVATAR_SOURCE = {{ GOGS_PICTURE_GRAVATAR_SOURCE }}
; This value will be forced to be true in offline mode.
DISABLE_GRAVATAR = {{ GOGS_PICTURE_DISABLE_GRAVATAR }}
; Federated avatar lookup uses DNS to discover avatar associated
; with emails, see https://www.libravatar.org
; This value will be forced to be false in offline mode or Gravatar is disbaled.
ENABLE_FEDERATED_AVATAR = {{ GOGS_PICTURE_ENABLE_FEDERATED_AVATAR }}

[attachment]
; Whether attachments are enabled. Defaults to `true`
ENABLED = {{ GOGS_ATTACHMENT_ENABLED }}
; Path for attachments. Defaults to `data/attachments`
PATH = /var/lib/gogs/data/attachments
; One or more allowed types, e.g. image/jpeg|image/png
ALLOWED_TYPES = {{ GOGS_ATTACHMENT_ALLOWED_TYPES }}
; Max size of each file. Defaults to 32MB
MAX_SIZE = {{ GOGS_ATTACHMENT_MAX_SIZE }}
; Max number of files per upload. Defaults to 10
MAX_FILES = {{ GOGS_ATTACHMENT_MAX_FILES }}

[time]
; Specifies the format for fully outputed dates. Defaults to RFC1123
; Special supported values are ANSIC, UnixDate, RubyDate, RFC822, RFC822Z, RFC850, RFC1123, RFC1123Z, RFC3339, RFC3339Nano, Kitchen, Stamp, StampMilli, StampMicro and StampNano
; For more information about the format see http://golang.org/pkg/time/#pkg-constants
FORMAT =

; General settings of loggers
[log]
; Root path for log files
ROOT_PATH = /var/lib/gogs/data/logs
; Can be "console" and "file", default is "console"
; Use comma to separate multiple modes, e.g. "console, file"
MODE = {{ GOGS_LOG_MODE }}
; Buffer length of channel, keep it as it is if you don't know what it is.
BUFFER_LEN = 10000
; Either "Trace", "Info", "Warn", "Error", "Fatal", default is "Trace"
LEVEL = {{ GOGS_LOG_LEVEL }}

{% if GOGS_LOG_MODE != 'console' -%}
; For "console" mode only
[log.console]
; leave empty to inherit
LEVEL =
{% elif GOGS_LOG_MODE != 'file' -%}
; For "file" mode only
[log.file]
; leave empty to inherit
LEVEL =
; This enables automated log rotate(switch of following options), default is true
LOG_ROTATE = {{ GOGS_LOG_FILES_LOG_ROTATE }}
; Segment log daily
DAILY_ROTATE = {{ GOGS_LOG_FILES_DAILY_ROTATE }}
; Max size shift of single file, default is 28 means 1 << 28, 256MB
MAX_SIZE_SHIFT = {{ GOGS_LOG_FILES_MAX_SIZE_SHIFT }}
; Max line number of single file
MAX_LINES = {{ GOGS_LOG_FILES_MAX_LINES }}
; Expired days of log file(delete after max days), default is 7
MAX_DAYS = {{ GOGS_LOG_FILES_MAX_DAYS }}
{% elif GOGS_LOG_MODE != 'slack' -%}
; For "slack" mode only
[log.slack]
; leave empty to inherit
LEVEL =
; Webhook URL
URL = {{ GOGS_LOG_SLACK_URL }}
{% elif GOGS_LOG_MODE != 'xorm' -%}
; Enable file rotation
ROTATE =  {{ GOGS_LOG_XORM_ROTATE }}
; Rotate every day
ROTATE_DAILY = {{ GOGS_LOG_XORM_ROTATE_DAILY }}
; Rotate once file size excesses x MB
MAX_SIZE = {{ GOGS_LOG_XORM_MAX_SIZE }}
; Maximum days to keep logger files
MAX_DAYS = {{ GOGS_LOG_XORM_MAX_DAYS }}
{%- endif %}

[cron]
; Enable running cron tasks periodically.
ENABLED = {{ GOGS_CRON_ENABLED }}
; Run cron tasks when Gogs starts.
RUN_AT_START = {{ GOGS_CRON_RUN_AT_START }}

; Update mirrors
[cron.update_mirrors]
SCHEDULE = {{ GOGS_CRON_UPDATE_MIRRORS_SCHEDULE }}

; Repository health check
[cron.repo_health_check]
SCHEDULE ={{ GOGS_CRON_REPO_HEALTH_CHECK_SCHEDULE }}
TIMEOUT = {{ GOGS_CRON_REPO_HEALTH_CHECK_TIMEOUT }}
; Arguments for command 'git fsck', e.g. "--unreachable --tags"
; see more on http://git-scm.com/docs/git-fsck/1.7.5
ARGS = {{ GOGS_CRON_REPO_HEALTH_CHECK_ARGS }}

; Check repository statistics
[cron.check_repo_stats]
RUN_AT_START = {{ GOGS_CRON_CHECK_REPO_STATS_RUN_AT_START }}
SCHEDULE = {{ GOGS_CRON_CHECK_REPO_STATS_SCHEDULE }}

; Cleanup repository archives
[cron.repo_archive_cleanup]
RUN_AT_START = {{ GOGS_CRON_REPO_ARCHIVE_CLEANUP_RUN_AT_START }}
SCHEDULE = {{ GOGS_CRON_REPO_ARCHIVE_CLEANUP_SCHEDULE }}
; Time duration to check if archive should be cleaned
OLDER_THAN = {{ GOGS_CRON_REPO_ARCHIVE_CLEANUP_OLDER_THAN }}

[git]
; Disables highlight of added and removed changes
DISABLE_DIFF_HIGHLIGHT = {{ GOGS_GIT_DISABLE_DIFF_HIGHLIGHT }}
; Max number of lines allowed of a single file in diff view
MAX_GIT_DIFF_LINES = {{ GOGS_GIT_MAX_GIT_DIFF_LINES }}
; Max number of characters of a line allowed in diff view
MAX_GIT_DIFF_LINE_CHARACTERS = {{ GOGS_GIT_MAX_GIT_DIFF_LINE_CHARACTERS }}
; Max number of files shown in diff view
MAX_GIT_DIFF_FILES = {{ GOGS_GIT_MAX_GIT_DIFF_FILES }}
; Arguments for command 'git gc', e.g. "--aggressive --auto"
; see more on http://git-scm.com/docs/git-gc/1.7.5
GC_ARGS = {{ GOGS_GIT_GC_ARGS }}

; Operation timeout in seconds
[git.timeout]
MIGRATE = {{ GOGS_GIT_TIMEOUT_MIGRATE }}
MIRROR = {{ GOGS_GIT_TIMEOUT_MIRROR }}
CLONE = {{ GOGS_GIT_TIMEOUT_CLONE }}
PULL = {{ GOGS_GIT_TIMEOUT_PULL }}
GC = {{ GOGS_GIT_TIMEOUT_GC }}

[mirror]
; Default interval in hours between each check
DEFAULT_INTERVAL = {{ GOGS_MIRROR_DEFAULT_INTERVAL }}

[api]
; Max number of items will response in a page
MAX_RESPONSE_ITEMS = {{ GOGS_API_MAX_RESPONSE_ITEMS }}

[ui]
; Number of repositories that are showed in one explore page
EXPLORE_PAGING_NUM = {{ GOGS_UI_EXPLORE_PAGING_NUM }}
; Number of issues that are showed in one page
ISSUE_PAGING_NUM = {{ GOGS_UI_ISSUE_PAGING_NUM }}
; Number of maximum commits showed in one activity feed
FEED_MAX_COMMIT_NUM = {{ GOGS_UI_FEED_MAX_COMMIT_NUM }}
; Value of "theme-color" meta tag, used by Android >= 5.0
; An invalid color like "none" or "disable" will have the default style
; More info: https://developers.google.com/web/updates/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
THEME_COLOR_META_TAG = `{{ GOGS_UI_THEME_COLOR_META_TAG }}`
; Max size in bytes of files to be displayed (default is 8MB)
MAX_DISPLAY_FILE_SIZE = {{ GOGS_UI_MAX_DISPLAY_FILE_SIZE }}

[ui.admin]
; Number of users that are showed in one page
USER_PAGING_NUM = {{ GOGS_UI_ADMIN_USER_PAGING_NUM }}
; Number of repos that are showed in one page
REPO_PAGING_NUM = {{ GOGS_UI_ADMIN_REPO_PAGING_NUM }}
; Number of notices that are showed in one page
NOTICE_PAGING_NUM = {{ GOGS_UI_ADMIN_NOTICE_PAGING_NUM }}
; Number of organization that are showed in one page
ORG_PAGING_NUM = {{ GOGS_UI_ADMIN_ORG_PAGING_NUM }}

[ui.user]
; Number of repos that are showed in one page
REPO_PAGING_NUM = {{ GOGS_UI_USER_REPO_PAGING_NUM }}
; Number of news feeds that are showed in one page
NEWS_FEED_PAGING_NUM = {{ GOGS_UI_USER_NEWS_FEED_PAGING_NUM }}
; Number of commits that are showed in one page
COMMITS_PAGING_NUM = {{ GOGS_UI_USER_COMMITS_PAGING_NUM }}

[i18n]
LANGS = en-US,zh-CN,zh-HK,zh-TW,de-DE,fr-FR,nl-NL,lv-LV,ru-RU,ja-JP,es-ES,pt-BR,pl-PL,bg-BG,it-IT,fi-FI,tr-TR,cs-CZ,sr-SP,sv-SE,ko-KR,gl-ES,uk-UA,en-GB,hu-HU
NAMES = English,简体中文,繁體中文（香港）,繁體中文（台湾）,Deutsch,français,Nederlands,latviešu,русский,日本語,español,português do Brasil,polski,български,italiano,suomi,Türkçe,čeština,српски,svenska,한국어,galego,українська,English (United Kingdom),Magyar


; Used for datetimepicker
[i18n.datelang]
en-US = en
zh-CN = zh
zh-HK = zh-TW
zh-TW = zh-TW
de-DE = de
fr-FR = fr
nl-NL = nl
lv-LV = lv
ru-RU = ru
ja-JP = ja
es-ES = es
pt-BR = pt-BR
pl-PL = pl
bg-BG = bg
it-IT = it
fi-FI = fi
tr-TR = tr
cs-CZ = cs-CZ
sr-SP = sr
sv-SE = sv
ko-KR = ko
gl-ES = gl
uk-UA = uk

; Extension mapping to highlight class
; e.g. .toml=ini
[highlight.mapping]

[other]
SHOW_FOOTER_BRANDING = {{ GOGS_OTHER_SHOW_FOOTER_BRANDING }}
; Show version information about Gogs and Go in the footer
SHOW_FOOTER_VERSION = {{ GOGS_OTHER_SHOW_FOOTER_VERSION }}
; Show time of template execution in the footer
SHOW_FOOTER_TEMPLATE_LOAD_TIME = {{ GOGS_OTHER_SHOW_FOOTER_TEMPLATE_LOAD_TIME }}
