[program:mumble]
command=/usr/bin/murmurd -fg -ini /container/mumble-server/mumble-server.ini
directory=/container/mumble-server
autostart=true
autorestart=unexpected
redirect_stderr=true
stdout_logfile={{ '/container/log/murmur.log' if SUPERVISOR_LOGTYPE == 'file' else 'syslog @' + SUPERVISOR_SYSLOG_PROTOCOL + ':' + SUPERVISOR_SYSLOG_HOST + ':' + SUPERVISOR_SYSLOG_PORT|string }}
stdout_logfile_maxbytes={{ SUPERVISOR_LOGFILE_MAXBYTES }}
stdout_logfile_backups={{ SUPERVISOR_LOGFILE_BACKUPS }}
startsecs=3
stopwaitsecs=10
