# autogen true

{% if NGINX_REDIRECT_TO_FIRST_DOMAIN and DOMAINNAMES is defined and DOMAINNAMES|length > 1 -%}
server {
    listen                 80;
    listen                 [::]:80;
    listen                 443 ssl {{ 'http2' if NGINX_HTTP_VERSION == "2.0" }};
    listen                 [::]:443 ssl {{ 'http2' if NGINX_HTTP_VERSION == "2.0" }};
    server_name            {% for domain in DOMAINNAMES %}{% if not loop.first %}{{ domain }} {% endif %}{% endfor %};

    location / {
        return 301         $real_scheme://{{ DOMAINNAMES[0] }}$request_uri;
    }

    # Let's Encrypt challenge response uri
    location ^~ /.well-known/acme-challenge {
        default_type "text/plain";
        root /var/www/letsencrypt-challenge-response;
    }
}

{% endif -%}
server {
    listen                 80;
    listen                 [::]:80;
    listen                 443 ssl {{ 'http2' if NGINX_HTTP_VERSION == "2.0" }} default_server;
    listen                 [::]:443 ssl {{ 'http2' if NGINX_HTTP_VERSION == "2.0" }};
    {% if DOMAINNAMES is defined -%}
    server_name            {% if NGINX_REDIRECT_TO_FIRST_DOMAIN %}{{ DOMAINNAMES[0] }}{% else %}{% for domain in DOMAINNAMES %}{{ domain }} {% endfor %}{% endif %};
    {%- endif %}

    root                   /var/www/dokuwiki;
    index                  doku.php;

    rewrite_by_lua_block {
        -- apply rules to all requests, but not to challenge responses
        if not string.match(ngx.var.request_uri, "^/%.well%-known/acme%-challenge") and
                ngx.var.real_scheme ~= "https" then
            {% if NGINX_TLS_ONLY -%}
            -- redirect scheme to https
            return ngx.redirect("https://" .. ngx.var.host .. ngx.var.request_uri, 301)
            {% else -%}
            -- rewrite scheme to https to enable encryption when accessing installation page
            if string.match(ngx.var.request_uri, "^/install%.php") then
                return ngx.redirect("https://" .. ngx.var.host .. ngx.var.request_uri, 301)
            end
            local args = ngx.req.get_uri_args()
            for key, val in pairs(args) do
                if key == "log" or key == "admin" or key == "profile" or key == "register" or key == "login" then
                    return ngx.redirect("https://" .. ngx.var.host .. ngx.var.request_uri, 301)
                end
            end
            {%- endif %}
        end
    }

    # Let's Encrypt challenge response uri
    location ^~ /.well-known/acme-challenge {
        default_type "text/plain";
        root /var/www/letsencrypt-challenge-response;
    }

    location / {
        # prevent SYN-flood
        # limit concurrent connections per ip
        limit_conn conn_limit_per_ip {{ NGINX_CONN_LIMIT_PER_IP }};
        # limit requests per second per ip
        limit_req zone=req_limit_per_ip burst={{ NGINX_REQ_LIMIT_PER_IP_BURST }};

        try_files $uri $uri/ @dokuwiki;
    }

    location = /robots.txt  { log_not_found off; }
    location = /favicon.ico { access_log off; log_not_found off; }
    location ~ /\.          { access_log off; log_not_found off; deny all; }
    location ~ ~$           { access_log off; log_not_found off; deny all; }

    # rewrite for nice urls
    location @dokuwiki {
        rewrite ^/_media/(.*) /lib/exe/fetch.php?media=$1 last;
        rewrite ^/_detail/(.*) /lib/exe/detail.php?media=$1 last;
        rewrite ^/_export/([^/]+)/(.*) /doku.php?do=export_$1&id=$2 last;
        rewrite ^/(.*) /doku.php?id=$1&$args last;
    }

    # optional include
    include conf.d/dokuwiki/include-dokuwiki;

    # pass PHP to FastCGI
    location ~ ^(.+\.php)(.*)$ {
        try_files                $uri =404;
        fastcgi_split_path_info  ^(.+\.php)(.*)$;
        include                  /etc/nginx/fastcgi_params;
        fastcgi_read_timeout     {{ NGINX_FASTCGI_READ_TIMEOUT }};
        fastcgi_param            SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        fastcgi_param            PATH_INFO $uri;
        fastcgi_pass             unix:/var/run/php7-fpm.sock;
    }

    location ~ ^/(data|conf|bin|inc) { deny all; }

    # client caching
    location ~* \.(?:css|js|jpg|jpeg|gif|png|ico|cur|gz|svg|svgz|mp4|ogg|ogv|webm|htc)$ {
        expires                  1M;
        more_set_headers         "Pragma: public";
        more_set_headers         "Cache-Control: public, must-revalidate, proxy-revalidate";
        access_log               off;
        try_files                $uri @dokuwiki;
    }
    location ~* \.(?:rss|atom)$ {
        expires                  1h;
        more_set_headers         "Cache-Control: public";
    }
}
