<?php

$AUTOCONFIG = array(
  "directory"     => "{{ NEXTCLOUD_DATADIRECTORY }}",

  {% if NEXTCLOUD_DATABASE_TYPE == "mysql" -%}
  "dbtype"        => "mysql",
  "dbname"        => "{{ NEXTCLOUD_DATABASE_NAME }}",
  "dbuser"        => "{{ NEXTCLOUD_DATABASE_USER }}",
  "dbpass"        => "{{ NEXTCLOUD_DATABASE_PASSWORD }}",
  "dbhost"        => "{{ NEXTCLOUD_DATABASE_HOST }}",
  "dbtableprefix" => "{{ NEXTCLOUD_DATABASE_TABLE_PREFIX }}",

  {% elif NEXTCLOUD_DATABASE_TYPE == "pgsql" -%}
  "dbtype"        => "pgsql",
  "dbname"        => "{{ NEXTCLOUD_DATABASE_NAME }}",
  "dbuser"        => "{{ NEXTCLOUD_DATABASE_USER }}",
  "dbpass"        => "{{ NEXTCLOUD_DATABASE_PASSWORD }}",
  "dbhost"        => "{{ NEXTCLOUD_DATABASE_HOST }}",
  "dbtableprefix" => "{{ NEXTCLOUD_DATABASE_TABLE_PREFIX }}",

  {% elif NEXTCLOUD_DATABASE_TYPE == "sqlite3" -%}
  "dbtype"        => "sqlite3",
  "dbname"        => "{{ NEXTCLOUD_DATABASE_NAME }}",
  {%- endif %}
);
