[program:process_queue]
command=/usr/bin/schedule_program --minutes 15 --wake-up 30 -- /usr/bin/php /data/www/admin/index.php -pprocessqueue -c /data/www/config/config.php
autostart=true
autorestart=unexpected
directory=/data/www/
redirect_stderr=true
stdout_logfile=/data/log/process_queue.log
stdout_logfile_maxbytes={{ SUPERVISOR_LOGFILE_MAXBYTES }}
stdout_logfile_backups={{ SUPERVISOR_LOGFILE_BACKUPS }}
