[program:etherpad]
command=/bin/bash /etc/supervisor/conf.d/run-etherpad.sh
autostart=true
autorestart=unexpected
redirect_stderr=true
stdout_logfile=/data/log/etherpad.log
stdout_logfile_maxbytes={{ SUPERVISOR_LOGFILE_MAXBYTES }}
stdout_logfile_backups={{ SUPERVISOR_LOGFILE_BACKUPS }}
startsecs=6
stopwaitsecs=10
