#/bin/bash

DIR=/opt/wdqs-backend
cd "$DIR"

HOST="0.0.0.0"
PORT="{{ WDQS_BACKEND_PORT }}"

BLAZEGRAPH_OPTS="{{ WDQS_BACKEND_BLAZEGRAPH_OPTS }}"
EXTRA_JVM_OPTS="{{ WDQS_BACKEND_EXTRA_JVM_OPTS }}"
HEAP_SIZE="{{ WDQS_BACKEND_JVM_HEAP_SIZE }}"

BLAZEGRAPH_MAIN_NS="{{ WDQS_BACKEND_BLAZEGRAPH_MAIN_NS }}"
WIKIBASE_CONCEPT_URI_PARAM="{{ WDQS_BACKEND_WIKIBASE_CONCEPT_URI_PARAM }}"
COMMONS_CONCEPT_URI_PARAM="{{ WDQS_BACKEND_COMMONS_CONCEPT_URI_PARAM }}"

OAUTH_RUN="{{ WDQS_BACKEND_OAUTH_RUN }}"
OAUTH_CONSUMER_KEY_PARAM="{{ WDQS_BACKEND_OAUTH_CONSUMER_KEY_PARAM }}"
OAUTH_CONSUMER_SECRET_PARAM="{{ WDQS_BACKEND_OAUTH_CONSUMER_SECRET_PARAM }}"
OAUTH_SESSION_STORE_LIMIT_PARAM="{{ WDQS_BACKEND_OAUTH_SESSION_STORE_LIMIT_PARAM }}"
OAUTH_INDEX_URL_PARAM="{{ WDQS_BACKEND_OAUTH_INDEX_URL_PARAM }}"
OAUTH_NICE_URL_PARAM="{{ WDQS_BACKEND_OAUTH_NICE_URL_PARAM }}"
OAUTH_WIKI_LOGOUT_LINK_PARAM="{{ WDQS_BACKEND_OAUTH_WIKI_LOGOUT_LINK_PARAM }}"

DEFAULT_GLOBE="{{ WDQS_BACKEND_DEFAULT_GLOBE }}"
USER_AGENT="{{ WDQS_BACKEND_USER_AGENT }}"

LOG_CONFIG="/opt/wdqs-backend/logback.xml"
LOG_DIR="/container/log"
# disable GC logs
GC_LOGS=" "

# execute script
. runBlazegraph.sh -- --wikibaseHost {{ WDQS_BACKEND_WIKIBASE_HOST }}
