[program:wdqs-backend-db]
command=/bin/bash /etc/supervisor/conf.d/wdqs-backend-db.sh
directory=/opt/wdqs-backend
autostart=true
autorestart=unexpected
startsecs=10
stopwaitsecs=15
exitcodes=0
stopsignal=TERM
redirect_stderr=true
stdout_logfile={{ '/container/log/wdqs-backend-db.log' if SUPERVISOR_LOGTYPE == 'file' else 'syslog @' + SUPERVISOR_SYSLOG_PROTOCOL + ':' + SUPERVISOR_SYSLOG_HOST + ':' + SUPERVISOR_SYSLOG_PORT|string }}
stdout_logfile_maxbytes={{ SUPERVISOR_LOGFILE_MAXBYTES }}
stdout_logfile_backups={{ SUPERVISOR_LOGFILE_BACKUPS }}


[program:wdqs-backend-updater]
depends_on=wdqs-backend-db
command=/bin/bash /etc/supervisor/conf.d/wdqs-backend-updater.sh
directory=/opt/wdqs-backend
autostart=true
autorestart=unexpected
startsecs=10
stopwaitsecs=10
exitcodes=0
stopsignal=TERM
redirect_stderr=true
stdout_logfile={{ '/container/log/wdqs-backend-updater.log' if SUPERVISOR_LOGTYPE == 'file' else 'syslog @' + SUPERVISOR_SYSLOG_PROTOCOL + ':' + SUPERVISOR_SYSLOG_HOST + ':' + SUPERVISOR_SYSLOG_PORT|string }}
stdout_logfile_maxbytes={{ SUPERVISOR_LOGFILE_MAXBYTES }}
stdout_logfile_backups={{ SUPERVISOR_LOGFILE_BACKUPS }}
