{% macro bool(b) -%}{{ 'on' if b else 'off' }}{%- endmacro -%}
[client]
port                            = 3306
socket                          = /var/run/container/mysqld.sock

[mysqld_safe]
pid_file                        = /var/run/container/mysqld.pid
socket                          = /var/run/container/mysqld.sock
nice                            = 0

[mysqld]
{% if MYSQL_SKIP_NAME_RESOLVE -%}skip-name-resolve{% endif %}
{% if MYSQL_SKIP_HOST_CACHE -%}skip-host-cache{% endif %}
user                            = mysql
pid_file                        = /var/run/container/mysqld.pid
socket                          = /var/run/container/mysqld.sock
port                            = 3306
basedir                         = /usr
datadir                         = /data/mysql
tmpdir                          = /tmp
lc_messages_dir                 = /usr/share/mysql
lc_messages                     = en_US
{% if MYSQL_SKIP_EXTERNAL_LOCKING -%}skip-external-locking{% endif %}
explicit_defaults_for_timestamp

# bind to all IP addresses
bind-address                    = 0.0.0.0

# disabled to pipe error log into stderr to be handled by supervisor
#log-error                       = /var/log/mysql/error.log

# Slow Query Log
slow_query_log_file             = /data/log/mysql-slow.log
slow_query_log                  = {{ bool(MYSQL_SLOW_QUERY_LOG) }}
log_queries_not_using_indexes   = {{ MYSQL_LOG_QUERIES_NOT_USING_INDEXES }}
long_query_time                 = {{ MYSQL_LONG_QUERY_TIME }}
min_examined_row_limit          = {{ MYSQL_MIN_EXAMINED_ROW_LIMIT }}

# the storage engine to be used as default
default_storage_engine          = {{ MYSQL_DEFAULT_STORAGE_ENGINE }}

sql_mode                        = NO_ENGINE_SUBSTITUTION,TRADITIONAL

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic_links                  = 0

# show real-time information about the performance characteristics of the server
performance_schema              = {{ bool(MYSQL_PERFORMANCE_SCHEMA) }}

##
## Fine Tuning
##
max_connections                 = {{ MYSQL_MAX_CONNECTIONS }}
connect_timeout                 = {{ MYSQL_CONNECT_TIMEOUT }}
wait_timeout                    = {{ MYSQL_WAIT_TIMEOUT }}
max_allowed_packet              = {{ MYSQL_MAX_ALLOWED_PACKET }}
{% if MYSQL_THREAD_CACHE_SIZE != 'auto' -%}
thread_cache_size               = {{ MYSQL_THREAD_CACHE_SIZE }}
{%- endif %}
sort_buffer_size                = {{ MYSQL_SORT_BUFFER_SIZE }}
tmp_table_size                  = {{ MYSQL_TMP_TABLE_SIZE }}
join_buffer_size                = {{ MYSQL_JOIN_BUFFER_SIZE }}
max_heap_table_size             = {{ MYSQL_MAX_HEAP_TABLE_SIZE }}
thread_stack                    = {{ MYSQL_THREAD_STACK }}
net_buffer_length               = {{ MYSQL_NET_BUFFER_LENGTH }}

##
## MyISAM
##
# check whether the table is marked as crashed or was not closed properly
myisam_recover_options          = {{ MYSQL_MYISAM_RECOVER_OPTIONS }}
key_buffer_size                 = {{ MYSQL_KEY_BUFFER_SIZE }}
table_open_cache                = {{ MYSQL_TABLE_OPEN_CACHE }}
table_definition_cache          = {{ MYSQL_TABLE_DEFINITION_CACHE }}
concurrent_insert               = {{ MYSQL_CONCURRENT_INSERT }}
read_buffer_size                = {{ MYSQL_READ_BUFFER_SIZE }}
read_rnd_buffer_size            = {{ MYSQL_READ_RND_BUFFER_SIZE }}
myisam_sort_buffer_size         = {{ MYSQL_MYISAM_SORT_BUFFER_SIZE }}
bulk_insert_buffer_size         = {{ MYSQL_BULK_INSERT_BUFFER_SIZE }}

##
## Aria
##
aria_pagecache_buffer_size      = {{ MYSQL_ARIA_PAGECACHE_BUFFER_SIZE }}
aria_sort_buffer_size           = {{ MYSQL_ARIA_SORT_BUFFER_SIZE }}

##
## Query Cache Configuration
##
query_cache_limit               = {{ MYSQL_QUERY_CACHE_LIMIT }}
query_cache_size                = {{ MYSQL_QUERY_CACHE_SIZE }}
query_cache_type                = {{ MYSQL_QUERY_CACHE_TYPE }}

##
## InnoDB
##
innodb_data_home_dir            = /data/mysql
innodb_data_file_path           = {{ MYSQL_INNODB_DATA_FILE_PATH }}
innodb_log_group_home_dir       = /data/mysql
innodb_buffer_pool_size         = {{ MYSQL_INNODB_BUFFER_POOL_SIZE }}
innodb_log_file_size            = {{ MYSQL_INNODB_LOG_FILE_SIZE }}
innodb_log_buffer_size          = {{ MYSQL_INNODB_LOG_BUFFER_SIZE }}
innodb_flush_log_at_trx_commit  = {{ MYSQL_INNODB_FLUSH_LOG_AT_TRX_COMMIT }}
innodb_lock_wait_timeout        = {{ MYSQL_INNODB_LOCK_WAIT_TIMEOUT }}
innodb_file_per_table           = {{ bool(MYSQL_INNODB_FILE_PER_TABLE) }}
innodb_open_files               = {{ MYSQL_INNODB_OPEN_FILES }}
innodb_io_capacity              = {{ MYSQL_INNODB_IO_CAPACITY }}
innodb_flush_method             = {{ MYSQL_INNODB_FLUSH_METHOD }}

##
## Security Features
##
# ssl_ca                          = /etc/mysql/cacert.pem
# ssl_cert                        = /etc/mysql/server-cert.pem
# ssl_key                         = /etc/mysql/server-key.pem
# tls_version                     = TLSv1.2
# ssl_cipher                      = EECDH+AESGCM:EDH+AESGCM

##
## Galera-related settings
##
[galera]
# Mandatory settings
#wsrep_on=ON
#wsrep_provider=
#wsrep_cluster_address=
#binlog_format=row
#default_storage_engine=InnoDB
#innodb_autoinc_lock_mode=2
#
# Allow server to accept connections on all interfaces.
#
#bind_address=0.0.0.0
#
# Optional setting
#wsrep_slave_threads=1
#innodb_flush_log_at_trx_commit=0

[myisamchk]
key_buffer_size                 = {{ MYSQL_MYISAMCHK_KEY_BUFFER_SIZE }}
sort_buffer_size                = {{ MYSQL_MYISAMCHK_SORT_BUFFER_SIZE }}
read_buffer_size                = {{ MYSQL_MYISAMCHK_READ_BUFFER }}
write_buffer_size               = {{ MYSQL_MYISAMCHK_WRITE_BUFFER }}

[mysqldump]
quick
quote-names
max_allowed_packet              = {{ MYSQL_MAX_ALLOWED_PACKET }}

[mysql]
no-auto-rehash

[mysqlhotcopy]
interactive-timeout

# include config (*.cnf) files from /etc/mysql/conf.d/
!includedir /etc/mysql/conf.d/
