# used resources:
#   https://stribika.github.io/2015/01/04/secure-secure-shell.html
#   https://wiki.mozilla.org/Security/Guidelines/OpenSSH

# Port to listen for incomming connections
Port 22

# Restrict sshd to only use specific interfaces/protocols
#ListenAddress ::
#ListenAddress 0.0.0.0
Protocol 2

# HostKeys for protocol version 2 (in order of preference)
HostKey /var/lib/gogs/data/ssh/ssh_host_rsa_key
HostKey /var/lib/gogs/data/ssh/ssh_host_ed25519_key

# key exchange algorithms, ciphers and MACs
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

# Privilege Separation is turned on for security
UsePrivilegeSeparation sandbox

# Lifetime and size of ephemeral version 1 server key
KeyRegenerationInterval 3600
ServerKeyBits 1024

# Logging
SyslogFacility AUTH
LogLevel INFO

# Authentication:
LoginGraceTime 120
PermitRootLogin yes
StrictModes yes
PubkeyAuthentication yes
AuthorizedKeysFile	%h/.ssh/authorized_keys

# Don't read the user's ~/.rhosts and ~/.shosts files
IgnoreRhosts yes
# For this to work you will also need host keys in /etc/ssh_known_hosts
RhostsRSAAuthentication no
# similar for protocol version 2
HostbasedAuthentication no
# Uncomment if you don't trust ~/.ssh/known_hosts for RhostsRSAAuthentication
#IgnoreUserKnownHosts yes

# Do not permit empty passwords
PermitEmptyPasswords no

# Disable SSH's password login function, using public keys instead
ChallengeResponseAuthentication no
PasswordAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no

# Disable forwarding
X11Forwarding no
AllowTcpForwarding no

# Don't print anything when logging in
PrintMotd no
PrintLastLog no

# Don't send keep alive messages on tcp layer, use ssh connection directly.
# See: ClientAliveInterval
TCPKeepAlive no
# Seconds before the server sends a
# When the connection to the client idles for 60 seconds a null package will be
# send to request a response.
ClientAliveInterval 60
# Send 2 client alive messages without receiving anything before dropping the
# connection.
ClientAliveCountMax 2

# Maximum number of concurrent unauthenticated connections to the sshd daemon.
MaxStartups 30

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# Using PAM for authentication along with public keys
UsePAM yes

# Disable reverse dns lookup
UseDNS no
