################################################################################
# Detailed information about the configuration options can be found here:
#   - https://man.openbsd.org/sshd_config
#   - https://stribika.github.io/2015/01/04/secure-secure-shell.html
#   - https://wiki.mozilla.org/Security/Guidelines/OpenSSH
################################################################################

PidFile /var/run/container/sshd.pid

# Port to listen for incomming connections
Port 2022

AddressFamily any

# Restrict sshd to only use specific interfaces/protocols
Protocol 2

# HostKeys for protocol version 2 (in order of preference)
HostKey /container/gogs/data/ssh/ssh_host_rsa_key
HostKey /container/gogs/data/ssh/ssh_host_ed25519_key

# Algorithms for initial key exchange
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256

# Ciphers to be used for symmetric encryption
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr

# Message Authentication Codes (MACs)
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-ripemd160-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,hmac-ripemd160,umac-128@openssh.com

# Logging
SyslogFacility AUTH
LogLevel INFO

# Authentication
AuthenticationMethods publickey
LoginGraceTime 120
PermitRootLogin no
StrictModes no
AuthorizedKeysFile /container/gogs/data/ssh/authorized_keys

# Allow only user git to connect via SSH
AllowUsers git

# Disable forwarding
DisableForwarding yes

# Don't print anything when logging in
PrintMotd no
Banner none

# Don't send keep alive messages on tcp layer, use ssh connection directly.
# See: ClientAliveInterval
TCPKeepAlive no
# Seconds before the server sends a
# When the connection to the client idles for 60 seconds a null package will be
# send to request a response.
ClientAliveInterval 60
# Send 2 client alive messages without receiving anything before dropping the
# connection.
ClientAliveCountMax 2

# Maximum number of concurrent unauthenticated connections to the sshd daemon.
MaxStartups 30

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# Disable reverse dns lookup
UseDNS no
