[program:remote_syslog]
command=/usr/bin/remote_syslog -D {{ '--tcp' if REMOTE_SYSLOG_PROTO == 'tcp' else '--tls' }} -d {{ REMOTE_SYSLOG_HOST }} -p {{ REMOTE_SYSLOG_PORT }} --pid-file /var/run/container/remote_syslog.pid -c /etc/remote_syslog/remote_syslog.conf
numprocs=1
autostart={{ REMOTE_SYSLOG_ENABLED|lower }}
startsecs=1
startretries=3
autorestart=true
exitcodes=0
stopwaitsecs=5
directory=/var/log
redirect_stderr=true
stdout_logfile=/data/log/remote_syslog.log
stdout_logfile_maxbytes={{ SUPERVISOR_LOGFILE_MAXBYTES }}
stdout_logfile_backups={{ SUPERVISOR_LOGFILE_BACKUPS }}
