[program:nginx]
command=/usr/sbin/nginx -c /etc/nginx/nginx.conf -g 'daemon off;'
autostart=true
autorestart=unexpected
redirect_stderr=true
stdout_logfile=/data/log/nginx.log
stdout_logfile_maxbytes={{ SUPERVISOR_LOGFILE_MAXBYTES }}
