[program:gogs]
command=/opt/gogs/gogs web
directory=/opt/gogs
environment=USER="git",HOME="/home/cu",SHELL="/bin/bash",PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
autostart=true
autorestart=unexpected
startsecs=2
stopwaitsecs=10
redirect_stderr=true
stdout_logfile={{ '/container/log/gogs.log' if SUPERVISOR_LOGTYPE == 'file' else 'syslog @' + SUPERVISOR_SYSLOG_PROTOCOL + ':' + SUPERVISOR_SYSLOG_HOST + ':' + SUPERVISOR_SYSLOG_PORT|string }}
stdout_logfile_maxbytes={{ SUPERVISOR_LOGFILE_MAXBYTES }}
stdout_logfile_backups={{ SUPERVISOR_LOGFILE_BACKUPS }}
