[program:mariadb]
command=/usr/bin/mysqld
autostart=true
autorestart=unexpected
startsecs=7
stopsecs=30
redirect_stderr=true
stdout_logfile=/container/log/mysql.log
stdout_logfile_maxbytes={{ SUPERVISOR_LOGFILE_MAXBYTES }}
stdout_logfile_backups={{ SUPERVISOR_LOGFILE_BACKUPS }}
