[mediawiki]
user = www-data
group = www-data
listen = /var/run/php7-fpm.sock
listen.owner = www-data
listen.group = www-data
pm = dynamic

; max children to be spawned
pm.max_children = {{ PHP_MAX_CHILDREN }}

; The number of child processes created on startup.
pm.start_servers = {{ PHP_MIN_SPARE_SERVERS }}

; The desired minimum number of idle server processes.
pm.min_spare_servers = {{ PHP_MIN_SPARE_SERVERS }}

; The desired maximum number of idle server processes.
pm.max_spare_servers = {{ PHP_MAX_SPARE_SERVERS }}
