[program:cron]
command=/usr/sbin/cron -f
user=root
environment=USER="root",HOME="/root",SHELL="/bin/bash",PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
startsecs=2
autostart=true
autorestart=unexpected
exitcodes=0
stopsignal=TERM
; redirecting the stdout and stderr of the application to supervisor
redirect_stderr=true
stdout_logfile={{ '/container/log/cron.log' if SUPERVISOR_LOGTYPE == 'file' else 'syslog @' + SUPERVISOR_SYSLOG_PROTOCOL + ':' + SUPERVISOR_SYSLOG_HOST + ':' + SUPERVISOR_SYSLOG_PORT|string }}
stdout_logfile_maxbytes={{ SUPERVISOR_LOGFILE_MAXBYTES }}
stdout_logfile_backups={{ SUPERVISOR_LOGFILE_BACKUPS }}
